
<header>
    
       <div class="container">
          <a href="#" routerLink="/" class="logo"><b>😍😍 Qtonzee Food Corner 😋😋</b></a>
          <nav>
             <ul>
                <li>
                    <a href="#">
                    <span><b>C</b></span>
                    <span><b>a</b></span>
                    <span><b>r</b></span>
                    <span><b>t</b></span>
                   
                   </a>
                </li>
             </ul>
          </nav>
          
       </div> 

</header>