


<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/piiza1.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 Pizza ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
           </div>
        
       
         
     
    
      </div>
   
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/burger1.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 burger ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
           </div>
        
       
         
     
    
      </div>
   
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/manchuriun.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 Manchuriun ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
           </div>
        
       
         
     
    
      </div>
   
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/friench fries.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 Friench fries ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
           </div>
        
       
         
     
    
      </div>
   
    </div>
    
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/soup/manchow.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 soup ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
            </div>
    
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/noodles/vegetable-hakka-noodles.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 soup ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goNoodles()">Click Me 👍👍</button>
                </div>
              </div>
            
            </div>
    
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" src="../../assets/sandwich/ButterCheeseSandwich.jpg" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 soup ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary"  type="button" (click)="goCustomise()">Click Me 👍👍</button>
                </div>
              </div>
            
            </div>
    
      </div>
    </div>
   

   
  </div>
  
</div>

