<div class="container">
  <div class="row mt-5">
    <div *ngFor="let food of foods" class="col-md-3 d-flex justify-content-center">
      <div class="card mb-4" style="width:19rem;">
        <div class="showpage">
          <img class="card-img-top" [src]="food.imageUrl" alt="Food image"></div>
          <div class="content">
             <div class="name text-center">
                 {{food.name}} ❤️❤️❤️
                 <div class="d-grid gap-2">
                 
                  <button class="btn btn-primary" type="button" (click)="goCustomise()">Button</button>
                </div>
              </div>
            
           </div>
        
  
         
     
    
      </div>
   
    </div>

   
  </div>
  
</div>

