<p>register works!</p>


<div class="container">
  <div clas="row">
      <h4 class="text-center">Register component</h4>
  </div>

  <form>
      <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="please Enter Name"/>
        </div>
       <div class="row mt-3">
        <div class="col">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="please Enter Email"/>
         </div>
       </div>
       <div class="row mt-3">
        <div class="col">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="Please Enter Phone"/>
         </div>
       </div>
       <div class="row mt-3">
        <label>Gender</label>
            <div class="row">
               <div class="col-md-2">
                 <input type="radio" name="gender" value="male"/>Male 
               </div>
               <div class="col">
                  <input type="radio" name="gender" value="female"/>Female
               </div>
            </div>
       </div>
       <div class="row mt-3"> 
        <div class="col">
            <input type="number" class="form-control" name="age" formControlName="email" placeholder="Enter Age"/>
         </div>
       </div>
      </div>
  </form>
  
</div>